[submodule "submodules/platform-3.0-Entities"]
	path = submodules/platform-3.0-Entities
	url = https://github.com/smartupio/platform-3.0-Entities
	branch = master
[submodule "submodules/platform-3.0-Dtos"]
	path = submodules/platform-3.0-Dtos
	url = https://github.com/smartupio/platform-3.0-Dtos
	branch = master
[submodule "submodules/platform-3.0-Framework"]
	path = submodules/platform-3.0-Framework
	url = https://github.com/smartupio/platform-3.0-Framework
	branch = master
[submodule "submodules/platform-3.0-Mappings"]
	path = submodules/platform-3.0-Mappings
	url = https://github.com/smartupio/platform-3.0-Mappings
	branch = master
